

%section.pam
  %h1.center Mon compte Arts & Métiers Alumni
  / %h3.txtcentersmall Modifie ton mot de passe,

  .row
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons lock_outline
            %p Connexion et sécurité
        .divider
        .card-content
          %p
          Modifier le mot de passe du compte :
          %br
          %p
          -if true #@user.present?
            %br
            %p
              = link_to password_change_u_path(), title: "Modifier mon mot de passe"  do
                Modifier mon mot de passe
          %br
          %i.material-icons fingerprint_outline 
          %p.grey-text Le mot de passe sera synchronisé entre votre compte Arts & Métiers Alumni et votre compte Google Gadz.org si vous en possédez un.
          
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons account_circle_outline
            %p Identifiants
        .divider
        .card-content
          %p
            Retrouver les identifiants de connexion :
          %br
          %p
            = link_to recovery_path(), title: "Récupérer mes identifiants" do
              Récupérer mes identifiants
          %br
          %i.material-icons mail_outline textsms_outline
          %p.grey-text Récupération par mail (via un lien) et/ou SMS (via un code)
                      
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons email_outline
            %p Adresse mail
        .divider
        .card-content
          %p
            Gérer mon adresse mail @gadz.org :
          %br
          %p
            = link_to "Emails.gadz.org", "https://emails.gadz.org/", target: "_blank", rel: "nofollow"
          %br
          %i.material-icons move_to_inbox_outline
          %p.grey-text Gestion des redirections mails et des comptes Google Gadz.org 
          
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons help_outline
            %p Assistance
        .divider
        .card-content
          %p
            Aide en ligne :
            %br
            %br
            L'aide en ligne est accessible à l'adresse 
            = link_to "aide.gadz.org", "http://aide.gadz.org/", target: "_blank", rel: "nofollow"
          %br
            Ouvrir un ticket de support :
            %br
            %br
            Les demandes de support informatique peuvent s'effectuer en ligne à l'adresse 
            = link_to "jira.gadz.org", "https://jira.gadz.org/", target: "_blank", rel: "nofollow"
          %br  
          %i.material-icons mail_outline 
          %p Pour nous faire part de bugs ou de remarques : 
          %br envoyer un mail à support@gadz.org
          %br
          %i.material-icons chat_outline 
          %p.grey-text Slack de l'équipe "IT" Gadz.org : 
          = link_to "slack.gadz.org", "http://slack.gadz.org/", target: "_blank", rel: "nofollow"

