.row
  .col.s12.l6.offset-l3.m8.offset-m2
    %h4.center
      On va devoir faire ça à l'ancienne...
    %p.center Remplis tous les champs du formulaire ci-dessous pour que le support puisse t'identifier

    .card-panel
      = form_tag(recovery_support_final_path(), :method => :post) do
        .input-field
          = text_field_tag :nom,"", :class => "w100", :autofocus => true, :required => true
          = label_tag :nom
          .span.highlight.w100
          .span.bar.w100
        .input-field
          = text_field_tag :prenom,"", :class => "w100", :required => true
          = label_tag :prenom
          .span.highlight.w100
          .span.bar.w100
        .input-field
          = email_field_tag :email,"", :class => "w100", :required => true
          = label_tag :email, "Email où nous pourrons te contacter"
          .span.highlight.w100
          .span.bar.w100
        .input-field
          = text_field_tag :telephone,"", :class => "w100", :required => true
          = label_tag :telephone
          .span.highlight.w100
          .span.bar.w100
        %div
          = label_tag :ddn, "Date de naissance"
          = text_field_tag :ddn,"", :size => 30, :class => "datepicker", type: "date", :required => true, :options => {start_year: 115.years.ago.year, end_year: Date.today.year, default: Date.today}
        .input-field
          = text_area_tag :issue,"", :class => "w100 materialize-textarea", :required => true
          = label_tag :issue, "Description du problème"

        %p.mtm= submit_tag 'Envoyer',:class => "waves-effect waves-light btn"
