%section.pam
  %h1 Inscriptions


  .grid
    .box.box-light.shadow-1.mtm
      .box-top.pam
        Workflow
      .box-bottom.pam
        %ul
          %li On inscrit la personne sur le site SOCE
          %li On récupère son hruid
          %li On met son hruid dans le formulaire ci-dessous
          %li Ça va generer un lien d'inscription unique qui lui sera envoyé à son adresse
          %li En liquant sur le lien, la personne arrive sur un formualire pour récupérer son MDP et corriger ses infos dans le GrAM ET le Site SOCE
          %li après avec validé, on génere une liste des nouveau inscrits (hruid) pour les inscrire dans plat/al
          %li.grey il faut ensuite lancer le script d'inscriptions dans les lites des diffusions (à faire)

    .box.box-light.shadow-1.mtm
      .box-top.pam
        Ajout de compte
      .box-bottom.pam
        = form_tag(admin_inscriptions_path(), :method => :post) do
          =text_area_tag 'hruids'
          =submit_tag 'Go! ',:class => "bouton bouton_bleu mtm"

    .box.box-light.shadow-1.mtm
      .box-top.pam
        Hruid à passer à platal pour les créations de comptes 
        ( #{@newgorgaccounts.lines.count} )
      .box-bottom.pam
        %textarea{cols: 40} #{@newgorgaccounts}

    .box.box-light.shadow-1.mtm
      .box-top.pam
        Hruid des comptes voulant des googles apps
        ( #{@newgorgaccounts_gapps.lines.count} )
      .box-bottom.pam
        %textarea{cols: 40} #{@newgorgaccounts_gapps} 

    .box.box-light.shadow-1.mtm
      .box-top.pam
        Inscriptions en attentes
      .box-bottom.pam
        %table.alternate
          %thead
            %tr
              %th hruid
              %th email
              %th usable?
            -@inscription_links.each do |l|
              %tr
                %td=l.hruid
                %td=l.email
                %td=l.usable?