%section.pam
  .w500p.center
    .box.shadow-1.mtm
      .box-top.pam
        On va devoir faire ça à l'ancienne...
      .box-bottom
        .pam
          %p.mtm Laisse-nous quelques informations pour t'identifier et décris-nous ton problème.
          = form_tag(recovery_support_mail_path(), :method => 'post') do
            -#= label_tag :nom
            = text_field_tag :nom,"", :placeholder => "Nom", :size => 30
            -#= label_tag :prenom
            = text_field_tag :prenom,"", :placeholder => "Prénom", :size => 30
            -#= label_tag :email, "Email où nous pourrons te contacter"
            = text_field_tag :email,"", :placeholder => "Email où nous pouvons te contacter", :size => 30
            -#= label_tag :telephone
            = text_field_tag :telephone,"", :placeholder => "Téléphone", :size => 30
            = text_area_tag :issue,"", :placeholder => "Déscription du problème", :cols => 29
            %p.mtm= submit_tag 'Envoyer',:class => "bouton bouton_bleu"