%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      .box-top.box-top-colorpam
        SMS de validation envoyé!
      .box-bottom.pam
        %p 
          Un code de validation vient de t'être envoyé au:
        %p #{@phone_hidden}
        %p.mtm
          = form_tag(validate_sms_path(), :method => 'post') do
            = hidden_field_tag :token_session, @session_token
            = label_tag :token, 'Saisis ce code ici:'
            = text_field_tag :token,"",  :size => 7, :autofocus => true
            %p.small.grey
              Le code de validation est un numéro à 6 chiffres. Assure-toi de ne pas saisir ton numéro de mobile ni le numéro du téléphone qui a envoyé le SMS
            = submit_tag 'Continuer',:class => "bouton bouton_bleu mtm"
        
        %p.small.mtl 
          Rien reçu sur ton numéro après quelques minutes? Tu peux rééssayer à nouveau
          = link_to create_sms_path(:token_session => @session_token) , :method=> :post, title: "Envoie-moi un sms" do
            Envoie-moi un sms
        %p.small
          Si tu ne reçois rien par SMS ou par email tu peux
          = link_to recovery_support_path(), title: "contacter le support" do
            contacter le support.
        