/ .bottom-merge
/   %section.pas
/     .mw960p.center
/       .grid-2
/         .txtcenter=image_tag "gadzorg-favicon1.png",:size => "50", :class => "vertical-center"
/         .txtcenter=image_tag "logo_alumni.png", :class => "vertical-center"
/ .bottom-merge-arrow
/   .txtcenter.pas
/     .i.zmdi.zmdi-arrow-right.vertical-center

%section.pam
  .mw960p.center
    %h1.txtcenter Ton compte Gadz.org et Soce ne font plus qu'un!

    .pam
      .bottom-bar
        Les deux annuaires 
        %b fusionnent
        enfin ! Afin que tes 
        %b infos personnelles soient à jour
        , tu peux choisir ci-dessous lesquelles tu souhaite garder. Tu trouveras à gauche celles qui proviennent de l'annuaire gadz.org et à droite celle de l'annuaire Soce.
      .small Temps estimé : 2 minutes


    =form_tag module_merge_update_soce_user_path do
      .mtm.box-merge
        .grid-2
          .box-merge-left.prm
            %span.prm Annuaire Gadz.org
            / %i.zmdi.zmdi-long-arrow-down
            =image_tag "gadzorg-favicon1.png",:size => "50", :class => "vertical-center"
          .box-merge-right.plm
            =image_tag "logo_alumni.png", :class => "vertical-center"
            / %i.zmdi.zmdi-long-arrow-down
            %span.plm Annuaire SOCE
        -@info.each do |info|
          -unless  info[2]==info[3] && info[3].nil? # on affiche rien si les champs sont vides
            %h3.txtcenter=info[0]
            .grid-2.box-merge
              -if info[4]==0
                -if info[2]==info[3]
                  .box-merge-left Données identiques:
                  .box-merge-right= label_tag info[3],nil, :class => 'label-uniq black'
                -else
                  .box-merge-left
                    = radio_button_tag info[1], "platal"
                    = label_tag info[1]+"_platal", (info[2].nil? ? "" : info[2]), :class => "black"
                  .box-merge-right
                    = radio_button_tag info[1], "soce"
                    = label_tag info[1]+"_soce", (info[3].nil? ? "" : info[3]), :class => "black"
                  / 8888888888888
                  / =f.label info[1],info[2] , :value => info[2] do
                  /   =f.radio_button info[1],info[2]
                  /   Hello
                  / =f.label info[3],info[3] do
                  /   =f.radio_button info[1],info[3]
                  /   fffffff
                  / 9999999999999999
                  / =f.label info[1],info[2], :value => info[2]
                  / =f.radio_button info[1],info[2]
              -else
                .box-merge-left Info fixe:  
                .box-merge-right= label_tag info[3], nil, :class => 'label-uniq black'
        #addresses
          .box.box-light.shadow-1.mtm.w50.pam.center
            .txtcenter=image_tag "Preloader_3.gif"
            %p.txtcenter
              Holà ! J'ai plein d'informations à charger, laisse-moi 2 secondes le temps de traiter tout ça...

        

    =submit_tag 'Envoyer',:class => "bouton bouton_bleu"